<!DOCKTYPEhtml>
<html>
<head>
<title>test</title>
</head>
<body>
<button onClick="create()">create</button>
<svg width="100" height="200" "style:background:blue">
  <rect x=1 y=2 width="50" height="65" fill="green" stroke="yellow"/>
  <circle cx="60" cy="70" r="20" fill="red" stroke="black"/>
  sorry mate!
</svg>
<script>
function create(){
    alert(arguments[0]);
    var tab = document.createElement("table");
    tab.setAttribute("border", '1');
    for(var i=0;i<8;i++){
        var row = document.createElement("tr");

        for(var j=0; j<8; j++){
            var cas=document.createElement("td");
            cas.setAttribute("width",'50px');
            cas.setAttribute("height",'50px');
            if((i+j) % 2 == 0)
                cas.setAttribute("bgcolor",'black');
            row.appendChild(cas);
        }
        tab.appendChild(row);
    }
    document.getElementsByTagName("body")[0].appendChild(tab);
}
</script>

 
</body>
</html>

