    <div class="sidebar">
        <ul class="links">            
            <li>                                
                <a class="sidebar__link active" id="home" href="/">
                    <span class="material-icons">home</span>
                    Home
                </a>                
            </li>
            <hr style="background-color: #f6f6f6;height: 1px;width: 75%;margin: 1rem auto">                                                        

            <li class="module__link">
                <div class="module__folders">                         
                    <a class="module__folder" href="/new_module" style="font-size: 14px;">
                        <span class="material-icons">add</span>
                        <span class="new__descussion-text">Nouveau module</span>
                    </a>                    
                </div>  
            </li>  

        </ul>
    </div>
<div class="expand-sidebar"><</div>