                    <!-- Forum List -->
                    <div class="posts">
                      {{#each module.posts as |post|}}
                      {{> post_partial}}
                      {{/each}}
                        {{!-- End post --}}                    
                        </div>
