    <nav class="navbar navbar-expand bg-light sticky-top navbar-light">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="/images/stoa2.png" alt="stoa">
            </a>      

            <ul class="navbar-nav ml-auto mr-5 nav-flex-icons navbar-account">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="badge badge-danger ml-2">3</span>
                        <span class="material-icons">notifications</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-unique notification-menu" aria-labelledby="navbarDropdownMenuLink-5">
                        <a class="dropdown-item navbar-notification-item" href="#">Nouvelle note du module acoo<span class="badge badge-danger ml-2">Nouveau</span></a>
                        <a class="dropdown-item navbar-notification-item" href="#">Nouveau devoire acoo<span class="badge badge-danger ml-2"></span></a>
                        <a class="dropdown-item navbar-notification-item" href="#">Coure ajouté ihm<span class="badge badge-danger ml-2"></span></a>
                    </div>
                </li>
            </ul> 
             

            
            <ul class="navbar-nav nav-flex-icons navbar-account">                      
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="material-icons">person</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item navbar-account-item" href="/profile/{{userId}}">Compte</a>
                        <a class="dropdown-item navbar-account-item" href="/logout">Se déconnecter</a>                               
                    </div>
                </li>
            </ul>                                                
        </div>
    </nav>
