<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoa</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">        
</head>
<body>

    <nav class="navbar navbar-expand-md bg-light sticky-top">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="images/stoa2.png" alt="stoa">
            </a>
            {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> --}}            
            <div class="collapse navbar-collapse">
                {{!-- <form class="form-inline ml-5">
                    <input class="search-bar form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">                    
                </form>           --}}
                <ul class="navbar-nav text-center ml-auto">                    
                    <li>
                        <a class="nav-link" href="#">Account</a>
                    </li>                  
                </ul>                      
            </div>
        </div>
    </nav>
        
    <div class="sidebar">
        <ul class="links">            
            <li>                                
                <a class="sidebar__link active" href="/">
                    <span class="material-icons">home</span>
                    Home
                </a>                
            </li>
            <hr style="background-color: #f6f6f6;height: 1px;width: 75%;margin: 1rem auto">                                            
              {{#each modules as |module|}}
            <li class="module__link">                                
                <a class="sidebar__link" href="/{{module.id}}">
                    <span class="material-icons">folder_open</span>           
                    {{module.name}}
                </a>          
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="content">        
        <div class="container">
        <div class="main-body p-0 col-11 mx-auto">
            <div class="inner-wrapper">    
                <!-- Inner main -->
                <div class="inner-main">
                    <div class="container">
                        <!-- Inner main header -->
                        <div class="row inner-main-header mb-4">
                            <!-- <select class="col-2 custom-select custom-select-sm mr-1">
                                <option selected="">Latest</option>
                                <option value="1">Popular</option>
                                <option value="3">Solved</option>
                                <option value="3">Unsolved</option>
                                <option value="3">No Replies Yet</option>
                            </select> -->
                            <span class="col-xs-3 input-icon input-icon-sm ml-auto" id="search">
                                <input type="text" class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4" placeholder="Search forum" />
                            </span>
                        </div>                    
                    </div>
                    
                    <!-- Forum List -->
                    <div class="posts">
                      {{#each modules as |module|}}
                      {{> post_partial module=module user=../user}}
                      {{/each}}
                        {{!-- End post --}}                    
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Script element sourcing TinyMCE -->
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
    <!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src= "/js/my-tinymce-config.js"></script>
    <script src="js/main.js"></script> 
    <script src="js/poll_script.js"></script> 
    <script src="js/up_down_vote.js"></script> 
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
