<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoa</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">        
</head>
<body>

{{> navbar userId=user}}        
{{> home_sidebar modules=modules}}    
    <div class="content">        
        <div class="container">
        <div class="main-body p-0 col-11 mx-auto">
            <div class="inner-wrapper">    
                <!-- Inner main -->
                <div class="inner-main">
                    <div class="container">
                        <!-- Inner main header -->
                        <div class="row inner-main-header mb-4">
                            <!-- <select class="col-2 custom-select custom-select-sm mr-1">
                                <option selected="">Latest</option>
                                <option value="1">Popular</option>
                                <option value="3">Solved</option>
                                <option value="3">Unsolved</option>
                                <option value="3">No Replies Yet</option>
                            </select> -->
                        </div>                    
                    </div>
                    
                    <!-- Forum List -->
                    <div class="posts">
                      {{#each modules as |module|}}
                      {{> post_partial posts=module.posts moduleId=module.id moduleName=module.name user=../user}}
                      {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script> 
    <script src="js/poll_script.js"></script> 
    <script src="js/up_down_vote.js"></script> 
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
