<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">        
    <title>Nouveau Poste</title>
</head>
<body>

{{> navbar userId=user}}        
{{> module_sidebar folders=folders moduleId=moduleId creation=true}}

    <div class="content">        
        <div class="container">
        <div class="col-10 mx-auto">
            <h5>Ajouter un post</h5>
            <hr>
            {{#if error}}
            <div class="alert alert-danger">
              <strong>{{error}}</strong>
            </div>
            {{/if}}
            <form action="new_post/new_post" method="POST" encType="multipart/form-data">
                <label>Type</label>
                <section class="post__types">                              
                    <div class="type active-type" id="question">
                        <div class="type-logo">
                            <img src="images/icons/faq.png" height="65" width="65">
                        </div>
                        <div class="type-title">
                            Question 
                        </div>
                    </div>
                 
                    <div class="type" id="note">
                        <div class="type-logo">
                            <img src="images/icons/note.png" height="65" width="65">
                        </div>
                        <div class="type-title">
                            Note 
                        </div>
                    </div>                                       
                    <div class="type" id="poll">
                        <div class="type-logo">
                            <img src="images/icons/poll.png" height="65" width="65">
                        </div>
                        <div class="type-title">
                            Poll 
                        </div>
                    </div>                    
                </section><br>
                <section class="post__folder form-group">
                    <label for="title">Dossiers</label>
                    <div class="dossiers">
                      {{#each folders as |folder|}}
                        <div class="dossier" id={{folder.id}}>
                            <span>{{folder.name}}</span> 
                        </div>
                        {{/each}}
                    </div>
                </section><br>
                <section class="post__title form-group">
                    <label for="title">Titre</label>
                    <input class="form-control" type="text" name="title" placeholder="Titre du sujet" id="title" required>
                </section><br>
                <section class="details">
                    <label>Détailes</label>
                    <textarea name="keyboard_cat" class="petMachine" id="my-expressjs-tinymce-app"></textarea>
                </section>
            


                <section class="add-poll-section my-5">
                    <label for="title">Sondage</label>                    
                    <div class="add-poll mb-2" style="display: flex;justify-content: space-between">
                        <input class="form-control col-8" type="text" name="new-option" placeholder="Ajouter une option" id="new-option">
                        <button type="button" class="btn btn-secondary col-3 mx-auto" style="font-size: 14px!important" onclick="add_choice()">Ajouter</button>                    
                    </div>

                    <ul id="choices" name="survey" class="list-group mb-5">                        
                    </ul>
                        

                </section>

                <button type="submit" class="btn btn-primary col-12 ml-auto mt-3 mb-5" onclick="select_type()">Ajouter</button>
            </form>


            
        </div>
        </div>
    </div>

    <!-- Script element sourcing TinyMCE -->
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
    <!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src= "/js/my-tinymce-config.js"></script>

    <script src="js/main.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
      function select_type(){
          let form = document.getElementsByTagName("form")[0];

          let chosen_type = document.getElementsByClassName("active-type")[0];
          let type = document.createElement('input');
          type.setAttribute("type", "hidden");
          type.setAttribute("name", "type");
          type.setAttribute("value", chosen_type.id);
          form.appendChild(type);

          let selected_folders = document.getElementsByClassName("selected-folder");
          for(let selected_folder of selected_folders){
              let folder = document.createElement('input');
              folder.setAttribute("type", "hidden");
              folder.setAttribute("name", "folders")
              folder.setAttribute("value", selected_folder.id);
              form.appendChild(folder);
          }

          let file = tinymce.activeEditor.dom.remove('files');

          let choices = document.getElementById("choices");
          for(let choice of choices.children) {
              let choice_field = document.createElement('input');
              choice_field.setAttribute("type", "hidden");
              choice_field.setAttribute("name", "choices")
              choice_field.setAttribute("value", choice.title);
              form.appendChild(choice_field);
          }
      }

      function add_choice(){
          let choices_list = document.getElementById('choices');
          let id = choices_list.lastElementChild? Number(choices_list.lastElementChild.id)+1: 0;
          let choice = document.createElement('li');
          choice.setAttribute('id', id);
          choice.classList.add('list-group-item');
          choice.classList.add('d-inline-flex');
          choice.classList.add('justify-content-between');
          let text = document.getElementById('new-option');

          if(text.value === ''){
              text.required = true;
              text.setCustomValidity('please fill out the choice');
              text.reportValidity();
              text.setCustomValidity('');
              text.required = false;
              return;
          }

          let choice_text = document.createTextNode(text.value);
          let delete_button = document.createElement('button');
          delete_button.appendChild(document.createTextNode('Supprimer'));
          delete_button.setAttribute('onclick', `delete_choice(${id});`);
          delete_button.setAttribute('type', 'button');
          delete_button.classList.add('choice-delete');
          choice.appendChild(choice_text);
          choice.appendChild(delete_button);
          choices_list.appendChild(choice);
          choice.setAttribute('title', text.value);
          text.value = '';
      }

      function delete_choice(id) {
          let choices = document.getElementById('choices');

          for(const choice of choices.children) {
              if(choice.id === String(id))
                  return choice.remove();
          }
          
      }
    </script>

</body>
</html>
