<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">        
    <title>Nouveau Poste</title>
</head>
<body>

    <nav class="navbar navbar-expand-md bg-light sticky-top">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="images/stoa2.png" alt="stoa">
            </a>
            {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> --}}            
            <div class="collapse navbar-collapse">
                {{!-- <form class="form-inline ml-5">
                    <input class="search-bar form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">                    
                </form>           --}}
                <ul class="navbar-nav text-center ml-auto">                    
                    <li>
                        <a class="nav-link" href="#">Account</a>
                    </li>                  
                </ul>                      
            </div>
        </div>
    </nav>
        
    <div class="sidebar">
        <ul class="links">
            <a href="/new_post" class="btn btn-primary new__descussion">
                <span class="material-icons">add</span>
                <span class="new__descussion-text">Nouvelle Discussion</span>
            </a>
            <li>                                
                <a class="sidebar__link active" href="/">
                    <span class="material-icons">home</span>
                    Home
                </a>                
            </li>
            <hr style="background-color: #f6f6f6;height: 1px;width: 75%;margin: 1rem auto">      
                                   
            <li class="module__link">                
                <a class="sidebar__link" href="#">
                    <span class="material-icons">folder_open</span>           
                    IHM
                </a>          
                <div class="module__folders ml-4">
                    <a class="module__folder" href="#">
                        <span class="material-icons">folder_open</span>           
                        Coures
                    </a>          
                </div>   
                <div class="module__folders ml-4">
                    <a class="module__folder" href="#">
                        <span class="material-icons">folder_open</span>           
                        TD
                    </a>          
                </div>      
                <div class="module__folders ml-4">
                    <a class="module__folder" href="#">
                        <span class="material-icons">folder_open</span>           
                        Notes
                    </a>          
                </div>      
            </li>
        </ul>
    </div>

    <div class="content">        
        <div class="container">
            <div class="col-10 mx-auto">
                <h5>Ajouter un dossier</h5>
                <hr>
                <form action="add_folder/add_folder" method="POST" encType="multipart/form-data">
                    <section class="post__title form-group">
                        <label for="title">Nom</label>
                        <input class="form-control" type="text" name="name" placeholder="Nom du dossier" id="name" required>
                    </section>
                    {{!-- <section class="post__folder form-group">
                        <label for="title">Module</label>                        
                        <div class="dossiers">
                            <div class="dossier">
                                <span>devoire 1</span> 
                            </div>
                            <div class="dossier">
                                <span>serie1 ihm</span>                            
                            </div>
                            <div class="dossier">
                                <span>serie2 ssi</span>
                            </div>
                            <div class="dossier">
                                <span>coure1 algo</span>
                            </div>            
                        </div>
                    </section> --}}
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary col-3">Ajouter</button>
                    </div>                
                </form>                
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>
