<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">        
    <title>Nouveau Comment</title>
</head>
<body>

{{> navbar userId=user}}        
{{> general_sidebar folders=folders moduleId=moduleId}}

    <div class="content">        
        <div class="container">
        <div class="col-10 mx-auto">
            <h5>Ajouter un commentaire</h5>
            <hr>
            <form action="new_comment/new_comment" method="POST">
                <section class="details">
                    <label>Détailes</label>
                    <textarea name="keyboard_cat" class="petMachine" id="my-expressjs-tinymce-app"></textarea>
                </section>
                <button class="btn btn-primary col-12 ml-auto mt-3 mb-5" >Commenter</button>
            </form>


            
        </div>
        </div>
    </div>

    <!-- Script element sourcing TinyMCE -->
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
    <!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src= "/js/my-tinymce-config.js"></script>

    <script src="js/main.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
