<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/material-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">        
    <title>Nouveau Module</title>    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

</head>
<body>

{{> admin_navbar userId=user}}        
{{> admin_sidebar modules=modules}}

    <div class="content">        
        <div class="container">
            <div class="col-lg-6 col-md-10 mx-auto">
                <h5>Ajouter un module</h5>
                <hr>
            {{#if error}}
            <div class="alert alert-danger">
              <strong>{{error}}</strong>
            </div>
            {{/if}}
                <form id="form_module" action="/new_module/new_module" method="POST" encType="multipart/form-data">
                    <section class="post__title form-group">
                        <label for="title">Nom</label>
                        <input class="form-control" type="text" name="name" placeholder="Nom du module" id="name" maxlength='10' required>
                    </section>

                    <section class="post__title form-group mt-4">
                        <label for="title">Enseignant</label>
                        
                        <select class="form-control" name="nameP" id="nameP" multiple multiselect-search="true" multiselect-select-all="true">                            
                          {{#each profs as |prof|}}
                            <option value="{{prof.id}}">{{prof.family_name}} {{prof.name}}</option>
                          {{/each}}
                        </select>

                    </section>

                    <div class="text-right mt-4">
                        <button type="submit" onClick="get_profs_and_module_name()" class="btn btn-primary col-3">Ajouter</button>
                    </div>                
                </form>                
            </div>
        </div>
    </div>    
    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>    
    <script src="/js/bootstrap.min.js"></script>    
    <script src="/js/multiselect-dropdown.js"></script>
    <script>
      function get_profs_and_module_name(){
          let form = document.getElementById('form_module');
          let profs = document.getElementsByClassName('checked');
          for(const prof_element of profs){
              let profs = document.createElement('input');
              profs.name='profs';
              profs.hidden=true;
              profs.value=prof_element.id;
              form.appendChild(profs);
          }
      }
    </script>
</body>
</html>
