
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">        
    <title>Nouveau Reponse</title>
</head>
<body>

    <nav class="navbar navbar-expand-md bg-light sticky-top">
        <div class="container">
            <a href="#" class="navbar-brand">
                <img src="images/stoa2.png" alt="stoa">
            </a>            
            <div class="collapse navbar-collapse">                
                <ul class="navbar-nav text-center ml-auto">                    
                    <li>
                        <a class="nav-link" href="#">Account</a>
                    </li>                  
                </ul>                      
            </div>
        </div>
    </nav>
        
    <div class="sidebar">
        <ul class="links">
            <button class="btn btn-primary new__descussion">
                <span class="material-icons">add</span>
                <span class="new__descussion-text">Nouvelle Discussion</span>
                </button>
            <li>                                
                <a class="sidebar__link active" href="#">
                    <span class="material-icons">home</span>
                    Home
                </a>                
            </li>
            <li>                
                <a class="sidebar__link" href="#">
                    <span class="material-icons">
                    chat_bubble_outline
                    </span>           
                    Discussions
                </a>                
            </li>
            <hr style="background-color: #f6f6f6;height: 1px;width: 75%;margin: 1rem auto">
            <li>                
                <a class="sidebar__link" href="#">
                    <span class="material-icons">
                    folder_open
                    </span>           
                    IHM
                </a>                
            </li>
            <li>                
                <a class="sidebar__link" href="#">
                    <span class="material-icons">
                    folder_open
                    </span>           
                    Acoo
                </a>                
            </li>
            <li>                
                <a class="sidebar__link" href="#">
                    <span class="material-icons">
                    folder_open
                    </span>           
                    Algo
                </a>                
            </li>            
        </ul>
    </div>

    <div class="content">        
        <div class="container">
        <div class="col-10 mx-auto">
            <h5>Ajouter une reponse</h5>
            <hr>
            <form action="new_reply/new_reply" method="POST">
                <section class="details">
                    <label>Détailes</label>
                    <textarea name="keyboard_cat" class="petMachine" id="my-expressjs-tinymce-app"></textarea>
                </section>
                <button class="btn btn-primary col-12 ml-auto mt-3 mb-5" >Reponder</button>
            </form>


            
        </div>
        </div>
    </div>

    <!-- Script element sourcing TinyMCE -->
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
    <!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src= "/js/my-tinymce-config.js"></script>

    <script src="js/main.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
