<!DOCTYPE html> <!-- Required for TinyMCE to function as intended -->
 <html>

   <head>
     <title>TinyMCE Demo</title>
     <link rel="stylesheet" href="/stylesheets/style.css">
   </head>

   <body>
     <h1>TinyMCE Demo</h1>
     <!-- Text area matching the selector specified in the TinyMCE configuration -->
     <textarea id="my-expressjs-tinymce-app">Hello, World!</textarea>
   </body>

   <!-- Script element sourcing TinyMCE -->
   <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
   <!-- Script element sourcing the TinyMCE configuration -->
   <script type="application/javascript" src= "/js/my-tinymce-config.js"></script>
 </html>