
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'identifier</title>    
    <link rel="stylesheet" href="css/login.css">    
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>                

  <div class="container">
    <div class="row content">        
      <div class="col-lg-6 col-md-12 col-xs-12 my-auto left-illustration">
        <img src="images/online-platform.svg">
      </div>        
      <div class="col-lg-6 col-md-12 col-xs-12 my-auto">          
        <form>
          <h4 class="text-center my-4 mx-auto col-lg-6 col-xs-12">S'inscrire</h4>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" class="form-control">
          </div>
          <div class="form-group">
            <label>Année</label>
            <select class="form-control year"></select>
          </div>          
          <!-- <div class="form-group">
            <input type="checkbox" >              
          </div> -->
          <button class="btn btn-primary mt-3" id="submit">Valider</button>
        </form>
      </div>
    </div>
  </div>

    
</body>
</html>
