<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/material-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">        
</head>
<body>

{{> navbar userId=user}}        
{{> module_sidebar folders=folders moduleId=moduleId is_teacher=is_teacher}}
    
    <div class="content">        
        <div class="container">
        <div class="main-body p-0 col-11 mx-auto">            
            <div class="inner-wrapper">    
                <!-- Inner main -->
                <div class="inner-main">
                    <div class="container mb-5">                                                
                        <div class="col-lg-8 col-xs-10 mx-auto">
                                <section class="search d-flex">
                                    <div class="search-input">
                                        <a href="" target="_blank" hidden></a>
                                        <input type="text" placeholder="Type to search..">                                        
                                        <div class="icon">
                                            <button class="search-button" type="submit" onClick="submit_query({{moduleId}})"><span class="material-icons">search</span></button>
                                        </div>
                                    </div>                                      
                                </section>                                
                                <div class="folders mt-2">
                                     <section class="post__folder form-group">
                                        <label for="title">Choisir les Dossiers (ou choisi pas for chercher dans tous le module)</label> 
                                        <div class="dossiers">                                        
                                          {{#each folders as |folder|}}
                                            <div class="dossier" id={{folder.id}}>
                                                <span>{{folder.name}}</span> 
                                            </div>                                        
                                            {{/each}}
                                        </div>
                                    </section>
                                </div>
                        </div>                        
                    </div>
                    
                    <!-- Forum List -->
                    <div class="resluts">
                       {{#unless result}} 
                        <div class="alert alert-danger col-6 mx-auto" role="alert">
                            Rien n'a été trouvé
                        </div>
                        {{/unless}}
                      {{> post_partial posts=result moduleId=moduleId moduleName=moduleName user=user}}
                        
                    </div>
                </div>
        </div>
        </div>
    </div>    

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script> 
    <script>
      function submit_query(module_id){
          let query = document.getElementsByTagName('input')[0].value;
          let selected_folders = document.getElementsByClassName("selected-folder");

          let folders = [];

          for(let selected_folder of selected_folders)
              folders.push(selected_folder.id);

          folders = folders.join(',');

          let url=`/modules/${module_id}/search?query=${query}&folders=${folders}`;
          window.location.replace(url);
      }

    </script>
</body>
</html>
