<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>validation</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

  <div class="container">
    <div class="row content">
      <div class="col-lg-6 col-md-12 col-xs-12 my-auto left-illustration">
        <img src="images/online-platform.svg">
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12 my-auto">
        {{#if error}}
        <div class="alert alert-danger">
          <strong>{{error}}</strong>
        </div>
        {{/if}}
        <form id="validation" method="POST" action ="validation/validaion">
          <h4 class="text-center my-4 mx-auto col-lg-6 col-xs-12">validation</h4>

          <div class="form-group">
            <label for="text">Entrez le code de sécurité</label>
            <input type="text" name="code" id="code" class="form-control" placeholder="Entrez le code">
          </div>
          <button class="btn btn-primary mt-3" id="submit">Valider</button>
        </form>
      </div>
    </div>
  </div>


</body>
</html>