
.files {
  display: flex;
  flex-direction:column-reverse;
  position:absolute;
  bottom:0;

}

.file {
  display: flex;
  width:666px;
  background-color: #3030302e;
  border-radius:5px;
  margin:5px;
}

.file_name {
  padding: 5px;
  text-align: left;
  font-size:1rem;

}

.del_button {
  padding: 5px;
  font-size:1rem;
  opacity: 0.3;
  margin-left:auto;
}

.del_button:hover {
  opacity: 1;
  cursor: pointer;
}
