
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background-color: #F0F5F8;
    --button-background: #F9F9F9;
    --text-color: #FFF;   
    --sidebar-width: 68px;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf");
}

body {
    font-family: 'Poppins'!important;    
    display: grid;
    grid-template-columns: 218px calc(100% - 218px);
    grid-template-rows: 80px auto;
    grid-template-areas: "navbar navbar"
                         "sidebar content";
}

.container {
    max-width: 1350px!important;
}

.navbar {
    border-bottom: 2px #f6f6f6 solid;
    height: 80px;
    grid-area: navbar;
    box-shadow: 0px 1px 10px #999;
}

.navbar-brand {
    width: 110px;
    height: 115px;
    line-height: 70px;  
}

.navbar-brand img {
    width: 100%;
    height: 100%;
}

.search-bar {
    border-radius: 20px!important;
    height: 45px;    
    width: 220px!important;
    background-color: var(--button-background)!important;
    border: 1px #f1f1f1 solid!important;    
}

.navbar-nav li a {
    color: #000;
}

.sidebar {    
    height: 100vh;
    border-right: 2px #f6f6f6 solid;
    background: #1761A0;
    grid-area: sidebar;          
    transition: all ease .3s;    
    position: fixed;
    width: 218px;
    top: 80px;
}

.sidebar .links {        
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
    margin: 0 auto;
    padding: 10% 0;
    height: 100vh;
}

.sidebar .links li {
    width: 100%;    
}

.sidebar .links li a {    
    height: 50px;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    opacity: .9;
    position: relative;
    padding: .5rem 0 .5rem 1.8rem;
}

.sidebar .links li a .material-icons {           
    font-size: 22px;
}

.active {
    opacity: 1!important;
    color: #FFF;
}

.active::before {
    content: '';
    width: 2px;
    background-color: #FFF;
    position: absolute;
    height: 50%;
    
}

.content {    
    background: #E2E8F0;
    height: 100vh;
    grid-area: content;
    padding: 2rem 0;
}

.content a {
    color: #000;    
}

.content .card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
}

.content .card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)!important;
    transition: all ease .4s;
}


@media (max-width: 768px) {
    body {
        grid-template-columns: 68px calc(100% - 68px);
    }

    .sidebar {
        overflow: hidden;    
        width: 68px;    
    }

    .sidebar .links li a {
        padding-left: 1.4rem;
    }

    .navbar-brand {
        width: 70px;        
        height: 70px;              
    }
    
}