
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background-color: #F0F5F8;
    --button-background: #F9F9F9;
    --text-color: #FFF;   
    --sidebar-width: 68px;
}

.material-icons, .icon-text {
    vertical-align: middle;
  }

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf");
}

body {
    font-family: 'Poppins'!important;    
    display: grid;
    grid-template-columns: calc(100% - 260px) 260px;
    grid-template-rows: 80px auto;
    grid-template-areas: "navbar navbar"
                         "content sidebar";
    min-height: 100vh;    
}
/* Containers */
.container {
    max-width: 1050px!important;    
}

.navbar .container {
    max-width: 1350px!important;
}

.navbar {
    border-bottom: 2px #f6f6f6 solid;
    height: 80px;
    grid-area: navbar;
    box-shadow: 0 10px 20px -12px rgba(0,0,0,.25);
}

.navbar-brand {
    width: 110px;
    height: 115px;
    line-height: 70px;  
}

.navbar-brand img {
    width: 100%;
    height: 100%;
}

.search-bar {
    border-radius: 20px!important;
    height: 45px;    
    width: 220px!important;
    background-color: var(--button-background)!important;
    border: 1px #f1f1f1 solid!important;    
}

.navbar-nav li a {
    color: #000;
}

.navbar-account {
    cursor: pointer;
}

.navbar-account-item {
    font-size: 14px;
}

#navbarDropdownMenuLink-5::after{
    display: none;
}

.notification-menu {
    max-width: 20rem!important;
}

.navbar-notification-item {
    font-size: 14px;
    height: 3rem!important;
    line-height: 2rem;    
}

.sidebar {        
    right: 0;
    height: 100vh;
    /* border-right: 2px #f6f6f6 solid; */
    background: #FAFAFA;
    grid-area: sidebar;          
    transition: all ease .3s;    
    position: fixed;
    width: 260px;
    top: 80px;        
}

.sidebar .links {        
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
    margin: 0 auto;
    padding: 10% 0;
    height: 100vh;    
}

.sidebar .links li {
    width: 100%;        
}

.sidebar .links li a {    
    height: 50px;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1.5rem;    
    text-decoration: none;
    opacity: .9;
    position: relative;
    padding: .5rem 0 .5rem 1.8rem;    
    /* color: rgba(255, 255, 255, 0.6);     */
    color: rgb(54, 54, 54);
    font-size: 15px;
}


.sidebar .links li a .material-icons {           
    font-size: 22px;
}

/* Sidebar Folders */
.module__link {
    /* height: 50px; */
    overflow: hidden;    
}

.show-folders {
    height: auto;
}
/* End Sidebar Folders */

.new__descussion {
    font-size: 13px!important;
    margin: 0 auto 1.5rem auto;
}

.active {
    color: #0069D9!important;
}

.active::before {
    content: '';
    width: 2px;
    background-color: #0069D9;
    position: absolute;
    height: 50%;    
    right: 0;
    margin-right: 15%;
}

.content {    
    background: #fafafa;
    height: 100%;
    grid-area: content;
    padding: 2rem 0;    
    font-size: .8rem!important;
}

.content a {
    color: #000;    
}

.content .card {
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    background: #FFF;
    border-radius: 10px;
}

.content .card__tag {
    width: 90px;
    height: 20px;    
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    right: 3%;
    position: absolute;
    top: -10px;
    background-color: #FFF;
    font-size: 11px;
    text-align: center;
}

.content .card:hover {
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);    
    transition: all ease .4s;
}

.post-time {
    font-size: 12px;
}

.files {
    width: max-content;    
    overflow: hidden;
}

.files .file {
    background-color: #f7f7ff;
    padding: 1px;
    border: 1px solid #e4e6e8;
    border-radius: 5px;
    display: flex;    
    align-items: center;
    margin-bottom: 5px;
}

.files .file .icon {
    color: #0069D9;
    font-size: 21px;    
}

.files .file .file-name a{
    margin-left: 4px;
}

.comment{
    border-top: 1px solid #e4e6e8;
    border-bottom: 1px solid #e4e6e8;
    font-size: 12px;
    background-color: #FFF!important;
    width: 90%;
}

.comment-detail a {
    color: #2172CD;
}

@media (max-width: 768px) {
    body {
        grid-template-columns: calc(100% - 68px) 68px;
    }

    .sidebar {
        overflow: hidden;    
        width: 68px;    
    }

    .sidebar .links li a {
        padding-left: 1.4rem;
    }

    .navbar-brand {
        width: 70px;        
        height: 70px;              
    }

    .new__descussion-text {
        display: none;
    }
    
}
.content form label {
    font-size: 16px;
    color: #484a4c;
}

.post__types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    width: 100%;        
}

.type {
    margin-right: 40px;    
    width: 100px;
    height: 100px;
    background-color: #E2E7EA;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.type:hover {
    background-color: #2172CD;
    color: #FFF;    
}

.active-type {
    background-color: #2172CD;
    color: #FFF;    
}

/* .typeLogo {    
    font-size: 85px!important;    
    color: rgb(159, 172, 185);
}

.type:hover > .type-logo .typeLogo {
    color: #FFF!important;
} */

.type .type-title {
    margin-top: 10px;
    font-size: 14px;
}


.dossiers .dossier {
    padding-right: 5px;
    padding-left: 5px;
    min-width: 35px;
    height: 34px;
    background-color: #d2e8f1;
    color: #448ab6;
    font-size: 10px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
}

.dossiers .dossier:hover {
    background-color: #448ab6;
    color: #FFF;
}

.selected-folder {
    background-color: #448ab6!important;
    color: #FFF!important;
}

.dossiers .dossier span {
    line-height: 32px;
}

.add-poll-section {
    display: none;
}

.show-poll {
    display: block;
}

#delete-option {
    color: red;
}

/* Poll Style */

.poll {
  /* position:absolute; */
  top:100%;  
  transform:translateY(0);
  width:100%;
  max-width:400px;
  
}
.poll .question {
  padding:20px;
  color:#111;
  font-size:18px;
  border-bottom:1px solid #eee;
}
.poll .answers {
  padding:20px 20px 10px;
}
.poll .answers .answer {
  position:relative;
  width:100%;
  height:40px;
  padding:0px 10px;
  line-height:40px;
  color:#111;
  margin-bottom:10px;
  border:1px solid #d4d4d4;
  border-radius:10px;
  cursor:pointer;
  overflow:hidden;
}
.poll .answers .answer.selected {
  border:2px solid #8f9fe8;
}
.poll .answers .answer span.percentage-value {
  position:absolute;
  top:50%;
  right:0px;
  width:40px;
  transform:translateY(-50%);
  color:#111;
  font-size:15px;
}
.poll .answers .answer span.percentage-bar {
  position:absolute;
  top:0px;
  left:0px;
  width:0%;
  height:100%;
  background:#ccd8f1;
  transition:width 300ms ease-in-out;
}

/* End Poll Style */


/* Upvote Replies */

.vote-answer {
    width: 6%;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 75px;
    align-items: center;    
    justify-content: center;
    margin-right: 15px;    
}

.vote-answer span {
    color: #484a4c;
    cursor: pointer;
}

.upvote:hover, .downvote:hover {
    color: #448ab6;
    transition: ease all .2s;
}

/* End */

.tag {        
    width: 80px;
    opacity: .85;
    font-size: 12px!important;
    text-align: center;    
}

.comment-number {
    opacity: .85;
}

.post-folders {
    display:flex;                
}

.post-folder {
    padding-left: 6px;
    padding-right: 6px;
    height: 20px;    
    margin: 2px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    font-size: 11px;
    text-align: center;
}

.post-folder:hover {
    background-color: #e6f2f7;
    cursor: pointer;
}

.choice-delete {
  background: none!important;
  border: none;
  padding: 0!important;
  color: red;
  cursor: pointer;
}
.choice-delete:hover{
         text-decoration:underline;
}

.up_down_vote_button {
 background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: none;   
}

.selected_vote{
    color: #448ab6;
}
.up_down_vote_button:focus {
    outline:none;
}

/* Module infos page */
.info-title {
    background-color: #efefef;
    padding: 0.3rem 0.5rem;
    border-radius: 2px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.last-announcement {
    background-color: #f7f7f7;
    min-height: 150px;
    padding: 1rem 1rem;
    position: relative;
}

.last-annonce-date {
    bottom: 5px;
    position: absolute;
    left: 1rem;
    font-style: italic;
}
/* End Module infos page */

/* Resources Page */
.link-to-file {
    color: #3e7aab!important;
    font-weight: 700;    
    width: 100%;
    overflow: hidden;    
}

.table {
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.thead {
    border-bottom: 0!important;
}

th, td {
    border-right: 1px solid #dee2e6;    
}

.actions {
    right: 0;
    width: 10%;    
    text-align: center;    
}

.actions .btn-group button{
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    width: 40px;
    font-size: 11px;
}

.actions .btn-group button:hover {
    background-color: #dae0e5;
    border-color: #d3d9df;    
    color: #212529;    
}

.add-file {
    font-size: 14px!important;
}

.add-file i {
    font-size: 15px;
}
/* End Resources Page */

/* Profile */
 .user-infos {
    font-size: 1rem;
    height: 30rem;
    max-width: 35rem!important;
    border: solid 1px #d3d9df;
    background-color: #FFF;    
    padding: 3rem 0;
}
/*
.user-infos span {
    font-weight: 800;
    color: rgb(90, 90, 90);
}

.user-info {
    
} */

.profile-infos {    
    min-height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-infos tr {   
    line-height: 3rem;
}

.profile-infos tr td {
    border: none;    
    opacity: .8;
}

.profile-infos tr td.info {
    padding-left: 3rem;    
    color: #484a4c;
    opacity: 1;
    font-weight: 600;
}

.post-more {
    position: absolute;
    right: 20px;
    cursor: pointer;
    text-align: right;        
}

.post-more .more-menu {
    border: solid 1px #e1e1e1;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #e6e6e6;    
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 2px; 
    visibility: hidden;
}

.post-more .more-menu a, .more-menu div{
    padding: .3rem .7rem;    
    color: #6c757d;
    text-decoration: none;
}

.more-menu div {
    color:#bd2130;
}

.post-more .more-menu a:hover, .more-menu div:hover {
    background-color: #eeeeee;
}
.more-menu div:hover {
    
}

.show {
    visibility: visible!important;
}

.hide {
    display: none!important;
}
/* Bottom section folder+hashtags */
.bottom_section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    right: 7%;
    bottom: 11%;
    position: absolute;
    width: 77%;
    overflow: hidden;
}

@media(max-width: 960px) {
    .bottom_section {
        right: 8%;        
    }
}

@media(max-width: 550px) {
    .bottom_section {
        bottom: 5%;
        right: 10%;
    }
}
/* ENd Bottom section folder+hashtags */
